<form id="job-form" class="">
  <div class="row-fluid job-detail-view job-detail-nav-view">
  </div>

  <div class="job-details-wrapper-body">

    <div class="row-fluid control-group job-detail-row job-detail job-detail-message">
      <div class="span12">
        <div class="job-message">
        </div>
      </div>
    </div>

    <div class="row-fluid control-group job-detail-row job-detail no-edit">
      <div class="detail">Name</div>
      <div class="display hightlight name" data-rv-text="job.name">{{name}}</div>
      <div class="field cmd">
        <input class="job-input" value="{{name}}" data-rv-value="job.name" id="input-name" name="name" tabindex="1">
      </div>
      <span class="help-inline hide"></span>
    </div>

    <div class="row-fluid control-group job-detail-row job-detail"
         data-toggle="tooltip"
         data-html="true"
         data-title="Command for the executor to run."
         data-placement="bottom">
      <div class="detail">Command</div>
      <div class="display hightlight cmd command"
           data-rv-text="job.command">{{command}}</div>
      <div class="field cmd">
        <input class="job-input" value="{{command}}"
               data-rv-value="job.command" name="command" tabindex="2">
      </div>
      <span class="help-inline hide"></span>
    </div>

    <div class="row-fluid control-group job-detail-row job-detail parents-wrapper">
      <div class="span12">
        <div class="detail">Parents</div>
        <div class="display hightlight parents"
             data-rv-text="job:parentsList < .parents">{{joinWith parents ', '}}</div>
        <div class="field cmd">
          <input class="job-input"
                 value="{{joinWith parents ', '}}"
                 placeholder="Choose parents..."
                 data-placeholder="Choose parents..."
                 name="parents"
                 type="hidden"
                 tabindex="3">
        </div>
        <span class="help-inline hide"></span>
      </div>
    </div>

    <div class="row-fluid job-detail-row">
      <div class="span6">
        <div class="control-group job-detail"
             data-toggle="tooltip"
             data-title="Owner's email address(es)<br>The owner(s) will be emailed in the event of a job failure or disruption."
             data-html="true"
             data-placement="bottom">
          <div class="detail">Owner(s)</div>
          <div class="display hightlight owner"
               data-rv-text="job.owner">{{owner}}</div>
          <div class="field cmd">
            <input class="job-input" value="{{owner}}" name="owner" tabindex="4"
                   data-rv-value="job.owner">
          </div>
          <span class="help-inline hide"></span>
        </div>
      </div>

      {{#persisted}}
      <div class="span6 small">
        <div class="row-fluid">
          <div class="span7  job-detail no-edit"
               data-toggle="tooltip"
               data-title="Last time the job ran successfully"
               data-placement="bottom">
            <div class="detail">Last Success</div>
            <div class="display hightlight small-detail lastSuccess"
                 data-rv-text="job.lastSuccess | orNone">{{lastSuccess}}</div>
          </div>

          <div class="span5  job-detail no-edit"
               data-toggle="tooltip"
               data-title="Number of successful runs to date"
               data-placement="bottom">
            <div class="detail"># Success</div>
            <div class="display hightlight small-detail successCount"
                 data-rv-text="job.successCount">{{successCount}}</div>
          </div>
        </div>

        <div class="row-fluid">

          <div class="span7 job-detail no-edit"
               data-toggle="tooltip"
               data-title="Last time an error occurred"
               data-placement="bottom">
            <div class="detail">Last Error</div>
            <div class="display hightlight small-detail lastError"
                 data-rv-text="job.lastError | orNone">{{lastError}}</div>
          </div>

          <div class="span5 job-detail no-edit"
               data-toggle="tooltip"
               data-title="Number of unsuccessful runs to date"
               data-placement="bottom">
            <div class="detail"># Error</div>
            <div class="display hightlight small-detail errorCount"
                 data-rv-text="job.errorCount">{{errorCount}}</div>
          </div>

        </div>

      </div>
      {{/persisted}}
    </div>

    {{#hasSchedule}}
    <div class="row-fluid job-detail-row job-detail sched">
      <div class="detail">Schedule</div>
      <div class="display highlight cmd schedule"
           data-rv-text="job.schedule">{{schedule}}</div>
      <div class="field cmd small-input repeats control-group">
        <label for="repeats" class="control-label">R</label>
        <input class="job-input" value="{{repeats}}" name="repeats" tabindex="6"
         data-rv-value="job.repeats"
         placeholder="∞" data-placeholder="∞"
         data-title="Number of Repetitions<br>Blank for Infinite (∞), 0 for none."
         data-html="true"
         data-toggle="tooltip">
      </div>

      <div class="small-input break">/</div>

      <div class="field cmd small-input control-group">
        <input class="job-input datepicker" value="{{startDate}}"
          data-rv-value="job.startDate"
          name="startDate" tabindex="7"
          data-title="Date to start the job."
          data-toggle="tooltip">
      </div>

      <div class="small-input break">T</div>

      <div class="field cmd small-input bootstrap-timepicker control-group">
        <input class="job-input timepicker" value="{{startTime}}" name="startTime" tabindex="8"
          data-rv-value="job.startTime"
          data-title="Time to start the job."
          data-toggle="tooltip"
          data-show-meridian="false"
          data-show-seconds="true"
          data-minute-step="1"
          data-second-step="1">
      </div>

      <div class="small-input break">Z/</div>

      <div class="field cmd small-input period control-group">
        <label for="duration" class="control-label">P</label>
        <input class="job-input" value="{{duration}}" name="duration" tabindex="9"
          data-rv-value="job.duration"
          data-title="Duration<br>The job will execute at every passing of duration from start time."
          data-html="true"
          data-toggle="tooltip">
      </div>
      <span class="help-inline hide"></span>
    </div>
    {{/hasSchedule}}

    <div class="row-fluid job-detail-row job-detail stats-row">
    </div>
  </div>
  <div class="job-details-wrapper-footer">
    <div class="collapse" id="collapse-{{cid}}">
      <div class="job-detail-row job-detail visible-edit-job">
        <div>
          <div class="text-warning text-center">
            Watch out! Most jobs should not require the settings below to be modified.
          </div>
      </div>
      </div>
      <div class="row-fluid job-detail-row">
        <div class="span6">
          <div class="control-group job-detail"
               title="Mesos executor to use. This can be a path that needs to be available on the Mesos slave, or it can be left blank in which case the shell-executor is assumed. The executor will receive the string specified in the command field."
               data-container=".job-{{cid}}"
               data-toggle="tooltip"
               data-placement="bottom">
            <div class="detail">Executor</div>
            <div class="display hightlight cmd executor"
                 data-rv-text="job.executor | orNone">{{orNone executor}}</div>
            <div class="field cmd">
              <input class="job-input"
                     data-rv-value="job.executor"
                     value="{{executor}}"
                     name="executor"
                     placeholder="/custom/executor"
                     tabindex="5">
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid job-detail-row">
        <div class="span6 job-detail">
          <div class="detail">Epsilon</div>
          <div class="display highlight cmd epsilon">{{epsilon}}</div>
          <div class="field cmd epsilon control-group">
            <input class="job-input" value="{{epsilon}}" name="epsilon" tabindex="10"
              title="Amount of time after a failure within which to retry the job."
              data-rv-value="job.epsilon"
              data-container=".job-{{cid}}"
              data-toggle="tooltip">

            <span class="help-inline hide"></span>
          </div>
        </div>
        <div class="span3 job-detail">
          <div class="detail">Asynchronous</div>

          <div class="display hightlight cmd async"
               data-rv-text="job.async | boolEnabled">{{boolEnabled async}}</div>
          <div class="pseudo-field hightlight cmd async">
            <label class="radio">
              <input type="radio"
                     class="job-input"
                     name="async"
                     id="async-off"
                     value="0"
                     {{^async}}checked{{/async}}>
              Disable
            </label>
            <label class="radio">
              <input type="radio"
                     class="job-input"
                     name="async"
                     id="async-on"
                     value="1"
                    {{#async}}checked{{/async}}>
              Enable
            </label>
          </div>
        </div>
        <div class="span3 job-detail">
          <div class="detail">Job Status</div>

          <div class="display hightlight cmd async"
               data-rv-text="job.disabled | boolDisabled">{{boolDisabled disabled}}</div>
          <div class="pseudo-field hightlight cmd async">
            <label class="radio">
              <input type="radio"
                     class="job-input"
                     name="disabled"
                     id="disabled-off"
                     value="0"
                     {{#disabled}}checked{{/disabled}}>
              Disable
            </label>
            <label class="radio">
              <input type="radio"
                     class="job-input"
                     name="disabled"
                     id="disabled-on"
                     value="1"
                    {{^disabled}}checked{{/disabled}}>
              Enable
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="job-detail-row job-detail">
      <div>
        <a data-toggle="collapse" data-target="#collapse-{{cid}}" href="javascript:void(0)">
          Other settings
        </a>
      </div>
    </div>
  </div>
</form>
